.clients {
  @extend %section;
  background-color: var(--primary-bcg-color);
}

.best-clients {
  @extend %list;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $desktopScreen) {
    flex-wrap: nowrap;
  }
}

.best-clients__item {
  width: 100%;
  margin-right: 30px;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    &:nth-child(2n + 0) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $tabletScreen) {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    &:nth-child(3n + 0) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktopScreen) {
    margin-bottom: 0px;
    &:not(:last-child) {
      width: calc((100% - 30px * 3) / 4);
      margin-right: 30px;
    }
  }
}

.best-client__link {
  display: flex;
  justify-content: center;
  padding-top: 13px;
  padding-bottom: 13px;

  border-width: 1px;
  border-color: $bestClientIconColor;
  border-style: solid;
  border-radius: 4%;
  transition: border-color $transitionDuration $transitionFunction;

  &:hover,
  &:focus {
    border-color: $activeButtonColor;
  }

  &:hover .best-client__icon {
    fill: $activeButtonColor;
  }

  &:focus .best-client__icon {
    fill: $activeButtonColor;
  }

  @media screen and (min-width: $tabletScreen) {
    padding-left: 60px;
    padding-right: 60px;
  }
  @media screen and (min-width: $desktopScreen) {
    padding-left: 31px;
    padding-right: 31px;
  }
}

.best-client__icon {
  fill: $bestClientIconColor;
  height: 60px;
  width: 106px;
  transition: fill $transitionDuration $transitionFunction;
}
