.portfolio-section {
  @extend %section;
}

.filters {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media (min-width: $tabletScreen) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media (min-width: $desktopScreen) {
    margin-bottom: 50px;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowarp;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filters__item {
  @media (max-width: 767px) {
    margin-bottom: 15px;
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.filters__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 24px;
  padding-left: 24px;
  color: $titleColor;
  background-color: $secondaryBcgColor;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition: background-color $transitionDuration $transitionFunction,
    color $transitionDuration $transitionFunction,
    box-shadow $transitionDuration $transitionFunction;

  &:hover,
  &:focus {
    background-color: $activeButtonColor;
    color: $primaryBcgColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.examples {
  @extend %list;

  @media (min-width: $tabletScreen) {
    display: flex;

    flex-wrap: wrap;
  }
}

.examples__item {
  width: 100%;

  margin-bottom: 30px;
  transition: box-shadow $transitionDuration $transitionFunction;
  overflow: hidden;

  @media (min-width: $tabletScreen) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    &:nth-child(2n + 0) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &:first-child .examples__desc {
      padding-bottom: 56px;
    }
  }

  @media screen and (min-width: $desktopScreen) {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    &:nth-child(3n + 0) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .image-overlay {
    transform: translateY(0px);
    opacity: 1;
  }
  &:focus .image-overlay {
    transform: translateY(0px);
    opacity: 1;
  }
}

.examples__link {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;

  text-decoration: none;
  color: $textColor;
  cursor: pointer;
}

.overlay-conteiner {
  position: relative;
  overflow: hidden;
}

.image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  opacity: 0;
  top: 0;
  transform: translateY(500px);
  transition: transform $transitionDuration $transitionFunction,
    opacity $transitionDuration $transitionFunction;
}

.image-overlay__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $heroTitleColor;
}
.examples__desc {
  width: 100%;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  overflow: hidden;
  //z-index: 5;
}

.examples__title {
  margin-bottom: 4px;

  color: $titleColor;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples__text {
  font-size: 16px;
  line-height: 1.9;
}
