.team {
  @extend %section;
  background-color: $secondaryBcgColor;
}

.agents-list {
  @extend %list;
  @media screen and (min-width: $tabletScreen) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktopScreen) {
    flex-wrap: nowrap;
  }
}

.agents-list__item {
  background-color: $primaryBcgColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  width: 100%;
  @media screen and (min-width: $mobileScreen) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $tabletScreen) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    &:nth-child(2n + 0) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktopScreen) {
    margin-bottom: 0px;
    width: calc((100% - 30px * 3) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.agent {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-right: auto;
  padding-left: auto;
  @media screen and (min-width: $desktopScreen) {
    padding-bottom: 30px;
  }

  &__job {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &__name {
    color: $titleColor;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
  }
}
