.team {
  @extend %section;
  background-color: $secondaryBcgColor;
}

.agents-list {
  @extend %list;
  display: flex;
}

.agents-list__item {
  background-color: $primaryBcgColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.agent {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: auto;
  padding-left: auto;

  &__job {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &__name {
    color: $titleColor;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
  }
}
