$titleColor: #212121;
$textColor: #757575;
$heroTitleColor: #ffffff;
$activeButtonColor: #2196f3;
$primaryBcgColor: #ffffff;
$secondaryBcgColor: #f5f4fa;
$footerBcgColor: #2f303a;
$headerBorderColor: #ececec;
$bestClientIconColor: #afb1b8;
$transitionDuration: 250ms;
$transitionFunction: cubic-bezier(0.4, 0, 0.2, 1);
$mobileScreen: 480px;
$tabletScreen: 768px;
$desktopScreen: 1200px;
